.sign-in-up {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.third-party {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  width: 100%;
}

.profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

button,
input[type=submit] {
  cursor: pointer;
}

.login {
  padding: 2rem
}